*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 48px;
}

.background {
    background-color: #23424a;

    /* a lot of people make the problem with using 10rem padding */
    /* padding: 10rem; */
    padding: 100px 0;
}

.container {
   width: 80%;
   /* put max-width values */
   max-width: 750px;
   margin: 0 auto;
}

.cta {
    padding: .7rem 2rem;
    margin-top: 2rem;

    display: inline-block;
    background-color: #38cfd9;
    color: #136c72;

    border-radius: 30px;
    border: none;
    
    font-weight: 900;
    text-decoration: none;
}